fastapi
uvicorn[standard]
python-multipart
python-dotenv
groq
langchain
langchain-groq
langchain-text-splitters
langgraph
pypdf
sqlalchemy
psycopg[binary]
numpy
onnxruntime
tokenizers
scikit-learn
joblib
piper-tts
